@font-face {
  font-family: TT Lakes Regular;
  src: url('./TTLakes-Regular.ttf');
}

* {margin: 0;padding: 0;}

body {font-family: TT Lakes Regular;}

.brands-container__button {
  display: none;
  background: transparent;
  border: transparent;
  margin: 5px 0 0 10px;
  padding: 10px 0 10px 0;
}

.brands-container {
  margin: 0 auto;
  max-width: 320px;
  background-color: #F8F8F8;
  height: fit-content;
}

.brands-container__header {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  display: flex;
  align-items: center;
  height: 80px;
  background: linear-gradient(to right, #F8F8F8, rgb(255, 255, 255));
  margin-bottom: 15px;
}

.brands-container__header__item {
  max-width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 100;
  font-size: 16px;
  text-align: left;
  
}

.brands-container .swiper .swiper-slide {
height: 72px;
width: 240px;
}

.slide {
  
  display: flex;
  justify-content:space-around;
  align-items:center;
  width: 100%;
  box-sizing: border-box;
  height:100%;
  border:1px solid rgb(193, 188, 188);
  border-radius:10px
}

.swiper-pagination span {
  background-color: rgb(163, 161, 161);
}

.swiper-pagination {display: none;}

@media(width<=320px) {
  .brands-container .swiper {
    max-width: 310px;
    margin-left:10px;
  }

  .swiper .swiper-wrapper {
    height: 110px;
  }

  .brands-container__button {display: none;}

  .swiper-pagination {display: block;}
}

@media(width >= 768px) {
  .brands-container .swiper {
    max-width: 768px;
  }
  .brands-container {
    max-width: 768px;
    height: fit-content;
  }

  
  .brands-container .swiper {
    width: 92%; 
    height: 200px;
  }

  .brands-container__button {
    display: block;
  }

}

@media(width >= 1120px) {

  .brands-container {
    max-width: 1120px;
    height: fit-content;
  }

  .brands-container .swiper {
    max-width: 96%; 
  }

  .brands-container__button {
    display: block;
  }
}


  